<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.myway.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloServlet2</servlet-name>
        <servlet-class>com.myway.servlet.HelloServlet2</servlet-class>
        <init-param>
            <param-name>test</param-name>
            <param-value>123456</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet2</servlet-name>
        <url-pattern>/HelloServlet2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FormServlet</servlet-name>
        <servlet-class>com.myway.servlet.form.FormServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/FormServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.myway.servlet.login.LoginServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AfterLoginServlet</servlet-name>
        <servlet-class>com.myway.servlet.login.AfterLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AfterLoginServlet</servlet-name>
        <url-pattern>/AfterLoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveCookieServlet</servlet-name>
        <servlet-class>com.myway.servlet.cookie.SaveCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveCookieServlet</servlet-name>
        <url-pattern>/SaveCookieServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadCookieServlet</servlet-name>
        <servlet-class>com.myway.servlet.cookie.ReadCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadCookieServlet</servlet-name>
        <url-pattern>/ReadCookieServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelCookieServlet</servlet-name>
        <servlet-class>com.myway.servlet.cookie.DelCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelCookieServlet</servlet-name>
        <url-pattern>/DelCookieServlet</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.myway.listener.Webcontextlistener</listener-class>
    </listener>
</web-app>
